@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');


$primary: #ad4473;
$secondary: #4a4a59;
$light: #f3ece7;
$white: #fffaf4;
$dark: #a08d6c;
$font: #4a4a59;

body {
    // font-family: 'Federo', sans-serif !important;
    color: $font !important;
}

.card{
    max-width: 600px;
}

@import "./scss/bootstrap.scss";