{% extends 'base.html' %} 

{% block header %}
    {% include 'header.html' with campaign=None%}
{% endblock %}

{% block body %}
<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>{{campaign.name}}</h1>
        </div>
    </div>
</div>
	<h1>Campaign:{{campaign.name}}</h1>

    <div>
        <a href="{% url 'Campaign_Update' campaign.pk %}">Update</a>
        <a href="{% url 'Campaign_Delete' campaign.pk %}">Delete</a>
        <a href="{% url 'NPC_List' campaign.pk %}">NPCs</a>
        <a href="{% url 'Location_List' campaign.pk %}">Locations</a>
        <a href="{% url 'upload_csv' campaign.pk%}">Upload</a>
        <a href="{% url 'Campaign_List'%}">Back</a>
    </div>
{% endblock %}