{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block header %}
    {% include 'header.html' with campaign=campaign%}
{% endblock %}

{% block body %}
<div class="col-md-8 mx-auto p-3 py-md-5">
  <div class="card p-3">
    <h1 class="text-center">Create Campaign</h1>
    <form action="" method="post">
    {% csrf_token %} 
    {{form|crispy}} 
    <div class="d-flex justify-content-left">
      <input class="btn btn-outline-success" type="submit" value="Submit" />
      <a href="{% url 'Campaign_List' %}" class="btn btn-outline-secondary" type="button">Cancel</a>
    </div>
    </form>
    <hr/>
    
  </div>
</div>  
{% endblock %}