{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block header %}
    {% include 'header.html' with campaign=location.campaign%}
{% endblock %}

{% block body %}
<div class="col-md-7 mx-auto p-3 py-md-5">
  <div class="card p-3">
    <div class="text-center">
      <h1>Are you sure you want to Delete {{location.name}}?</h1>
      <small>This action cannot be undone</small>
      <hr/>
    </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <input type="submit" value="Delete Location" class="btn btn-outline-danger"/>
      <a href="{% url 'Location_Show' location.pk%}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </form>
  </div>
</div>
{% endblock %}