{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block header %}
    {% include 'header.html' with campaign=None%}
{% endblock %}

{% block body %}
<div class="col-md-4 mx-auto p-3 py-md-5">
  <div class="card p-3">
    <h1 class="text-center">Update {{user.username}}'s Profile</h1>
    <form action="" method="post">
    {% csrf_token %} 
    {{form|crispy}} 
    <input class="btn btn-outline-success" type="submit" value="Submit" />
    <a href="{% url 'profile' user.username%}" class="btn btn-outline-secondary" type="button">Cancel</a>
    </form>
    <hr/>
    <a href="{% url 'profile_delete' user.username%}" class="btn btn-outline-danger">Delete Account</a>
  </div>
</div>   
{% endblock %}